@import "null";
@import "mobile view resolutions/portrait/380-portrait";
@import "mobile view resolutions/portrait/480-portrait";
@import "mobile view resolutions/portrait/768-portrait";
@import "mobile view resolutions/portrait/992-portrait";
@import "mobile view resolutions/landscape/380-landscape.scss";
@import "mobile-view-keyframes";
@import "mobile view resolutions/apple-devices/iPhone/6Plus-6sPlus-7Plus-8Plus.scss";
@import "mobile view resolutions/apple-devices/iPhone/12-12Pro-13Pro-14.scss";
@import "mobile view resolutions/apple-devices/iPhone/12ProM-13ProM-14Plus.scss";
@import "mobile view resolutions/apple-devices/iPhone/14Pro.scss";
@import "mobile view resolutions/apple-devices/iPhone/14ProM.scss";
@import "mobile view resolutions/apple-devices/iPhone/SE-6-6s-7-8.scss";
@import "mobile view resolutions/apple-devices/iPhone/Xr-11.scss";
@import "mobile view resolutions/apple-devices/iPhone/XsM-11ProM.scss";
// Done
@import "mobile view resolutions/apple-devices/iPhone/X-Xs-11Pro-12m-13m.scss";

// ================================================================================================
// Variables
// ================================================================================================
$highdensity: only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5);
// ================================================================================================
// Phones Extra S
$mobile-xs: media only screen and (min-width:320px) and (max-width:379.98px) and (orientation: portrait);
// Phones S
// ================================================================================================
$mobile-s: media only screen and (min-width:380px) and (max-width:479.98px) and (orientation: portrait);
// Phones M
// ================================================================================================
$mobile-m: only screen and (min-width:480px) and (max-width:767.98px);
// Phones L
// ================================================================================================
$mobile-l: only screen and (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait);
// ================================================================================================
// PC-s, laptops & some tablets in portrait mode
// ================================================================================================
$desktop: only screen and (min-width: 1200px) and (max-width: 1399.98px);
// ================================================================================================
// Large screen PC
// ================================================================================================
$desktop: only screen and (min-width: 1400px);

// ================================================================================================
// iPhone Sizes (Portrait)
// ================================================================================================
// 4.7" iPhone SE / iPhone 6 / iPhone 6s / iPhone 7 / iPhone 8
@media only screen and (device-width: 375px) and (device-width: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {}

// iPhone 6 Plus / iPhone 6s Plus / iPhone 7 Plus / iPhone 8 Plus
@media only screen and (device-width: 414px) and (device-width: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

// iPhone X / iPhone XS / iPhone 11 Pro / iPhone 12 mini / iPhone 13 mini
@media only screen and (device-width: 375px) and (device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

// iPhone XR / iPhone 11
@media only screen and (device-width: 414px) and (device-width: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {}

// iPhone XS Max / iPhone 11 Pro Max 
@media only screen and (device-width: 414px) and (device-width: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

// iPhone 12 / iPhone 12 Pro / iPhone 13 / iPhone 13 Pro / iPhone 14
@media only screen and (device-width: 390px) and (device-width: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

// iPhone 12 Pro Max / iPhone 13 Pro Max / iPhone 14 Plus
@media only screen and (device-width: 428px) and (device-width: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

// iPhone 14 Pro
@media only screen and (device-width: 393px) and (device-width: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

// iPhone 14 Pro Max
@media only screen and (device-width: 430px) and (device-width: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

// ================================================================================================
// Code
// ================================================================================================

$mainColor: #17181D;
// ================================================================================================
// Secondary color
// ================================================================================================
$secondaryColor: #bb2649;
// ================================================================================================
// Additional background color
// ================================================================================================
$lightBgColor: #9B9B9B;

@media screen and (min-width: 992px) and (max-width: 1199.98px) {}

@media screen and (min-width: 768px) and (max-width: 852.98px) and (orientation: landscape) {
	body {
		.wrapper {

			.progress-wrap {
				bottom: 15px;
				right: 15px;
			}

			.intro {
				height: 100%;
				background-image: conic-gradient(from 180deg at 50% 80%, #090E16 0%, var(--magenta-to-darken-switch) 100%);
				padding: 0 0 20vh 0;

				.header {
					.header__left-side {
						width: 50%;
						height: 100%;
					}

					.header__right-side {
						display: none;
					}

					.glow {
						height: 140px;
						width: 140px;
						top: 35px;
						left: calc(75% - 70px);
					}

					.logo,
					.box>.wave {
						height: 125px;
						width: 125px;
						left: calc(75% - 62.5px);
						top: 40px;
					}
				}

				.container {
					height: 100%;

					.container__left-side {
						min-height: 420px;

						.container__slogan,
						.container__stack {
							width: 100%;
							height: 175px;
						}

						.container__stack {
							.container__synopsis {
								h2 {
									font-size: 16px;
								}
							}
						}
					}
				}
			}

			.projects {
				background-image: conic-gradient(from 0deg at 50% 40vh, var(--magenta-to-darken-switch) 0%, #090E16 100%);
				padding: 10vh 0 0 0;

				.projects__container {
					.projects-slider {
						.projects-slider__wrapper {
							.projects-slider__slide {
								.project__items {
									margin: 70px 0 0 0;
									height: 100%;

									&._item-3 {
										.project__left-side {
											max-height: 260px;
											height: auto;
											min-height: 260px;

											.project__browser {
												min-height: 250px;
												max-height: 275px;
												width: 95%;
											}
										}

										.project__right-side {
											max-height: 260px;
											height: auto;
											min-height: 260px;

										}
									}

									.project__right-side {
										.project__synopsis-block {
											width: 55%;
											margin: 0 0 0 5%;

											.project__header {
												h2 {
													font-size: 20px;
													line-height: 30px;
												}
											}
										}
									}

									.project__left-side {
										max-height: 220px;
										height: 210px;
										min-height: 200px;

										.test {
											.project__inner {
												.th {
													top: 5%;
													left: 11%;
													width: 73%;
												}

												.laptop {
													width: 95%;
												}

												.phone {
													left: 75%;
													bottom: 5%;
												}
											}
										}
									}

									.project__right-side {
										max-height: 220px;
										height: 210px;
										min-height: 200px;

										.project__link-block {
											width: 30%;
											height: 40px;
											margin: auto;

											.project__link {
												.btn-blanked {
													display: inline-block;
													font-size: 10px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.contact {
				min-height: 100%;
				height: 100vh;
				background: linear-gradient(to right, var(--dark-magenta-to-darken-switch), var(--light-magenta-to-darken-switch));

				.contact__container {
					text-align: center;

					.line {
						&::before {
							width: 100%;
							left: 0;
							margin: 0;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 853px) and (max-width: 991.98px) and (orientation: landscape) {
	body {
		.wrapper {

			.progress-wrap {
				bottom: 15px;
				right: 15px;
			}

			.intro {
				height: 100%;
				background-image: conic-gradient(from 180deg at 50% 80%, #090E16 0%, var(--magenta-to-darken-switch) 100%);
				padding: 0 0 20vh 0;

				.header {
					.header__left-side {
						width: 50%;
						height: 100%;
					}

					.header__right-side {
						display: none;
					}

					.glow {
						height: 140px;
						width: 140px;
						top: 35px;
						left: calc(75% - 70px);
					}

					.logo,
					.box>.wave {
						height: 125px;
						width: 125px;
						left: calc(75% - 62.5px);
						top: 40px;
					}
				}

				.container {
					height: 100%;

					.container__left-side {
						min-height: 420px;

						.container__slogan,
						.container__stack {
							width: 100%;
							height: 175px;
						}

						.container__stack {
							.container__synopsis {
								h2 {
									font-size: 16px;
								}
							}
						}
					}
				}
			}

			.projects {
				background-image: conic-gradient(from 0deg at 50% 40vh, var(--magenta-to-darken-switch) 0%, #090E16 100%);
				padding: 10vh 0 0 0;

				.projects__container {
					.projects-slider {
						.projects-slider__wrapper {
							.projects-slider__slide {
								.project__items {
									margin: 70px 0 0 0;
									height: 100%;

									&._item-3 {
										.project__left-side {
											max-height: 260px;
											height: auto;
											min-height: 260px;

											.project__browser {
												min-height: 235px;
												max-height: 260px;
												width: 80%;
												margin: 0 auto;
											}
										}

										.project__right-side {
											max-height: 260px;
											height: auto;
											min-height: 260px;

										}
									}

									.project__right-side {
										.project__synopsis-block {
											width: 55%;
											margin: 0 0 0 5%;

											.project__header {
												h2 {
													font-size: 20px;
													line-height: 30px;
												}
											}
										}
									}

									.project__left-side {
										max-height: 220px;
										height: 210px;
										min-height: 200px;

										.test {
											.project__inner {
												.th {
													top: 5%;
													left: 18.5%;
													width: 62%;
												}

												.laptop {
													width: 80%;
													left: 10%;
												}

												.phone {
													left: 75%;
													bottom: 5%;
												}
											}
										}
									}

									.project__right-side {
										max-height: 220px;
										height: 210px;
										min-height: 200px;

										.project__link-block {
											width: 30%;
											height: 40px;
											margin: auto;

											.project__link {
												.btn-blanked {
													display: inline-block;
													font-size: 10px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.contact {
				min-height: 100%;
				height: 100vh;
				background: linear-gradient(to right, var(--dark-magenta-to-darken-switch), var(--light-magenta-to-darken-switch));

				.contact__container {
					text-align: center;

					.line {
						&::before {
							width: 100%;
							left: 0;
							margin: 0;
						}
					}
				}
			}
		}
	}
}